.section_first{
    background-color: #2c2c2c;
}

html{
    background-color: #2c2c2c;
    font-family: 'Oxygen', sans-serif;

}

.head{
    height: 111px;
    max-width: 1280px;

}

.title{
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 38.4px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 20px;
}

.title_description{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    line-height: 15.6px;
    padding-top: 10px;
    padding-left: 20px;
}
.right_side{
    position: absolute;
    right: 20px;
    top: 30px;
}

.lupa{
    position: absolute;
    top: 6px;
    right: 13px;
}

.navigation{
    color: #b86365;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 25px;
}
.size{
    position: absolute;
    width: 1220px;
    height: 340px;
    border: #4b4b4b solid 4px;
    margin-left: 25px;
    background-color: #333333;
}
.main_picture{
    color: #2c2c2c;

}

.main_pic{
    float:left;
    position:relative;
    width:1210px;
    height:330px;
}

.blocks{
    position: absolute;
    width: 200px;
    margin-left: 970px;
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
}

.butt{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    margin-right: 20px;

}
.btn_name{
    text-align: center;
    width: 20%;
    padding: 70px 0;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat' , sans-serif;

}


.btn_name-title{
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    text-transform: uppercase;
    color: white;
}

.photo{
    width: 340px;
    height: 150px;
    background-color: #333333;
    margin: auto;

}
.photo_description{
    color: #8b8b8b;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    margin-left: 35px;

}

.photo_info-comments{
    color: #b86365;
    font-size: 12px;
    font-weight: bold;
    line-height: 17.4px;
    position: relative;
    margin: auto;
}

.photos-bootstrap{
    display: flex;
    justify-content: center;

}



.photo_info-comments{

    margin-left: 35px;

}

.blog_photo{
}

.name{
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 26.1px;
    margin-left: 35px;
}
.presentation{
    margin-top: 40px;
}

.line:after{
    content: '';
    display: block;
    width: 1200px;
    height: 3px;
    background-color: #c8c8c8;
    margin: 30px auto 40px;
}




.reply{
    height: 318px;

}

.what_people-say{
    width: 50%;
    float: left;
    padding: 30px;
}
.portfolio_example-blocks{
    padding-top: 25px;
    padding-bottom: 35px;
}
.what_people-say__--title{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    line-height: 19.2px;
    color: #989898;

}

.portfolio_example{
    width: 50%;
    float: right;
    padding: 30px;
}

.portfolio_example-blocks{
    display: flex;
    justify-content: space-between;
}

.portfolio_example-blocks-block1{
    height: 150px;
    width: 150px;
    background-color: #2c2c2c;
}

.photo_info-comments__reply{
    color: #b86365;
    font-size: 12px;
    font-weight: bold;
    line-height: 17.4px;
    position: relative;
    float: right;
}

.what_people-say__main--title{
    color: #666666;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 21.6px
}

.portfolio_example__main--title{
    color: #666666;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 21.6px;
}

.about_us{
    background-color:#2c2c2c ;
    height: 350px;

    padding-left:  10px;
    padding-right:  24px;
}

.about_us-container__block{
    height: 95px;
    width: 95px;
    background-color: #000000;
    border: white solid 1px;
}

.slill_list-link{
    color: #ffffff;
    font-family: Georgia;
    font-size: 12px;
    font-weight: 400;
    line-height: 26.4px;
}

.slill_list-link:after{
    content: '';
    display: block;
    width: 228px;
    height: 1px;
    background-color: #c8c8c8;
}

.about_us-title{
    color: #acacac;
    font-family: Georgia;
    font-size: 26px;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 20px;
}

.about_us-container__block{
    width: 20%;
    float: left;

}.about_us-container__description{
    width: 80%;
    float: right;
    padding-left: 10px;

}

 .about_us-container__description--text{
     padding-top: 10px;
     color: #838383;
     font-family: Georgia;
     font-size: 12px;
     font-weight: 400;
     line-height: 21.6px;
     /* Text style for "Convallisi" */
     letter-spacing: -0.12px;
 }

 .about_us-container__description--title{
     color: #ffffff;
     font-family: Georgia;
     font-size: 16px;
     font-weight: bold;
     line-height: 23.2px;
 }

 .about_us-container{
     padding-top: 20px;

 }
 .about_us-container1{
     padding-top: 130px;
 }

 .content{
     padding-top: 25px;
     padding-left: 25px;
 }


